#  gitignore file

#I'll ignore the data file containing the catalog from being gitted
#The data files are in the directory /data
/data/*
#Maybe,  later, I'll set a file for configuration that must be gitted
#!/data/config
